msvs_version=2019
registry=https://mirrors.cloud.tencent.com/npm/
#home=https://mirrors.cloud.tencent.com/npm/
#proxy=http://127.0.0.1:7897
#https-proxy=http://127.0.0.1:7897
#//packages.aliyun.com/675d3a4e2875033c47c4a39d/npm/npm-registry/#:_authToken=20629250-dc1b-4853-beec-f9b1b3426700
#@sg:registry=https://packages.aliyun.com/675d3a4e2875033c47c4a39d/npm/npm-registry/
